extends layout 

block main-content 
  div#hero
    h1.page-title Welcome To Casa Guitar. 
    p Home away from home.
  div#outer-featured 
    h3 Featured Items 
  #featured 
    span 
      img(src="/img/pexels-gustavo-borges-2646825.jpg", alt="a fender telecaster - photo credit gustavo borges via pexels")
      p 2001 American Std Telecaster
      a(href="#") Click for more details 
    span
      img(src="/img/pexels-mateusz-taciak-7334396.jpg", alt="a gibson les paul - photo credit mateusz taciak via pexels")
      p 2009 American Gold-Top Gibson Les Paul
      a(href="#") Click for more details 
    span  
      img(src="/img/pexels-markus-spiske-105854.jpg", alt="a fender stratocaster - photo credit markus spiske via pexels")
      p 2021 American Std Stratocaster
      a(href="#") Click for more details 

  